pip install ctransformers==0.2.5
pip install sentence-transformers==2.2.2
pip install pinecone-client==2.2.4
pip install langchain==0.0.225
pip install flask
pip install pypdf
pip install python-dotenv
pip install langchain-community


# -e .